*~
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
config.h
config.h.in~
config.log
config.status
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
src/raspeater
src/*.o
src/Makefile
src/Makefile.in

